= breadcrumb [], t(:inquiries)
.inbox
  - if @conversations.blank?
    .alert.alert-info
      = t(:no_messages)
  - else
    - @conversations.each do |m|
      .row
        = render 'conversation_entry', :m => m

