= breadcrumb [], t("inquiries.inquiries_title") do
  .actions.pull-right
    = link_to t("archives.archives_title"), archived_messages_url
.inbox
  - if @conversations.blank?
    .alert.alert-info
      = t("messages.no_messages_inbox")
  - else
    - @conversations.each do |c|
      .row
        = render 'normal_view', :conversation => c