/* BODY */

@bodyBackground:        #fff;
@textColor:             @grayDark;

@contentBackgroundColor: @bodyBackground;

/* NAVBAR */

@navbarColor: 					#646464;
@navbarText: 						@grayLight;



/* OLD */

@grayDark: #333;
@grayLight: #F2F2F2;


@linkColor: #3977B0;

@smallfont: 10px;

@logoColorDark: #3977b0;
@logoColorLight: #91cef7;
