<h2><%= t("mailers.salutation", :name => @user.full_name) %></h2>
<% place_link = link_to @place.title, seo_place_path(@place) %>
<p><%= t("mailers.inquiry_confirmed_renter.intro", :place_link => place_link).html_safe %><p>
<% messages_link = link_to t("mailers.messages_section"), messages_path %>
<p><%= t("mailers.inquiry_confirmed_renter.manage_messages", :messages_link => messages_link).html_safe %>
<br />
<p><%= t("mailers.inquiry_confirmed_renter.warning") %></p>
