<h1>Add Item</h1>
<div class="coda-slider-wrapper">  
  <div class="coda-nav" id="coda-nav-1">        
    <ul>
      <li class="tab1"><a href="#1">Step 1<span></span></a></li>
      <li class="tab2"><a href="#2">Step 2<span></span></a></li>
      <li class="tab3"><a href="#3">Step 3<span></span></a></li>
      <li class="tab4"><a href="#4">Step 4<span></span></a></li>
      <li class="tab5"><a href="#5">Preview<span></span></a></li>
     </ul>    
  </div>  
  <div id="coda-slider-1" class="coda-slider preload">
    <form action="" class="form-stacked">
      <div class="panel">
  			<div class="panel-wrapper">    
  			  <h2 class="title">Step 1</h2>    
          <fieldset>
            <div class="clearfix">
              <label for="xlInput3">What Item do you wish to add?</label>
              <div class="input">
                <input class="span8" id="xlInput3" name="xlInput3" type="text" placeholder="Playstation 3 with lots of games">
              </div>
            </div><!-- /clearfix -->
            <div class="clearfix">
              <div class="row">
                <div class="span4">
                  <h5>Pick the address</h5>
                  <ul>
                    <li><a href="#">Berlin</a></li>
                    <li><a href="#">Berling 2</a></li>
                    <li><a href="#">Singapore</a></li>
                    <li><a href="#">Stockholm</a></li>
                  </ul>
                </div>
                <div class="span4">
                  <h5>Or add a new one</h5>
                  <div class="clearfix">
                    <div class="input">
                      <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" placeholder="Street Address">
                    </div>
                  </div>                          
                  <div class="clearfix">
                    <div class="input">
                      <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" placeholder="City">
                    </div>
                  </div>                          
                  <div class="clearfix">
                    <div class="input">
                      <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" placeholder="Country">
                    </div>
                  </div>                          
                  <div class="clearfix">
                    <div class="input">
                      <input class="xlarge" id="xlInput3" name="xlInput3" size="30" type="text" placeholder="Zip/Postal Code">
                    </div>
                  </div>              
              
                  <div class="clearfix">
                    <button type="submit" class="btn primary">Use Address</button>
                  </div>
                          
                </div>                    
              </div>
            
            </div>
          </fieldset>
  			</div>
  		</div>
  		<div class="panel">
  			<div class="panel-wrapper">
  			  <h2 class="title">Step 2</h2>
          <fieldset>
            <legend>What do you want to do with the item?</legend>

            <div class="row">
              <div class="span6">
                <div class="clearfix">
                  <label>Give to</label>

                  <div class="input">
                    <select>
                    <option>Friend</option>
                    <option>Friends of Friends</option>
                    <option>Everyone</option>
                    </select>
                  </div>      				     				   				
                </div><!-- end .clearfix -->
              </div><!-- end .span6 -->
              <div class="span6">
                <div class="clearfix">
        				  <label>Not selling to</label>

        				  <div class="input">
        				    <select>
                      <option>Friend</option>
                      <option>Friends of Friends</option>
                      <option>Everyone</option>
        				    </select>
          				</div>      				     				   				
        				</div><!-- end .clearfix -->        				
              </div><!-- end .span6 -->
            </div>
            
            <div class="row">
              <div class="span6">
        				<div class="clearfix">
        				  <label>Lend to</label>

        				  <div class="input">
        				    <select>
                      <option>Friend</option>
                      <option>Friends of Friends</option>
                      <option>Everyone</option>
        				    </select>
          				</div>      				     				   				
        				</div><!-- end .clearfix -->                
              </div><!-- end .span6 -->
              <div class="span6">
                <div class="clearfix">
        				  <label>Not Renting to</label>

        				  <div class="input">
        				    <select>
                      <option>Friend</option>
                      <option>Friends of Friends</option>
                      <option>Everyone</option>
        				    </select>
          				</div>      				     				   				
        				</div><!-- end .clearfix -->
              </div><!-- end .span6 -->
            </div>
    				
    				<div class="clearfix">
    				  <label>Where should the item be listed</label>

    				  <div class="input">
    				    <select>
                  <option>City</option>
                  <option>Country</option>
                  <option>Worldwide</option>
    				    </select>
      				</div>      				     				   				
    				</div><!-- end .clearfix -->
            
          </fieldset>
  			  
  				<fieldset>            
            
            <div class="clearfix">
              <label>Will you ship the item to pals who can not come to pick it up?</label>
              <br>
              <ul class="inputs-list">
                <li>
                  <label>
                    <input type="radio" checked="" name="optionsRadios" value="option1">
                    <span>Option one is this and that—be sure to include why it’s great</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="radio" name="optionsRadios" value="option2">
                    <span>Option two can is something else and selecting it will deselect options 1</span>
                  </label>
                </li>
              </ul>
            </div><!-- End clearfix -->
            
            <div class="clearfix">
              <label>How much would shipping and packaging cost?</label>
              <br>
              <div class="input">
                <div class="input-prepend">
                  <span class="add-on">$</span>
                  <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="National">
                </div>
              </div>
              <br>
              <div class="input">
                <div class="input-prepend">
                  <span class="add-on">$</span>
                  <input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" placeholder="International">
                </div>
              </div>              
            </div><!-- End clearfix -->            
            
            
  				</fieldset>
  			</div>
  		</div>
  		<div class="panel">
  			<div class="panel-wrapper">
  				<h2 class="title">Step 3</h2>
  				<div class="clearfix">
  				  <label>Select a category for your item</label>
  				  
  				  <div class="input">
    				  <div class="clearfix">		      
                  <select class="span4" multiple="multiple" name="multiSelect" id="multiSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <select class="span4" multiple="multiple" name="multiSelect" id="multiSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>                  
    				  </div>
    				</div>      				    				
  				</div><!-- end .clearfix -->

  				<div class="clearfix">
  				  <label>What is the condition is the item in?</label>
  				  
  				  <div class="input">
  				    <select>
  				      <option>New</option>
  				      <option>Used</option>
  				      <option>Pre-Owned</option>
  				    </select>
    				</div>      				     				   				
  				</div><!-- end .clearfix -->
  				
  				<div class="clearfix">
  				  <label>Describe the Item</label>  				  
  				  <div class="input">
  				    <textarea class="xxlarge" id="textarea2" name="textarea2" rows="3"></textarea>
    				</div>      				     				   				
  				</div><!-- end .clearfix -->  				

  				<div class="clearfix">
  				  <label>Enter some keywords to make your item easier to find (separated by commas)</label>  				  
  				  <div class="input">
  				    <input class="xxlarge" id="xlInput3" name="xlInput3" size="30" type="text">
  				    <span class="help-block">Recommended Keywords: Sample Keyword, Sample Keyword 2</span>
    				</div>      				     				   				
  				</div><!-- end .clearfix -->  				

  				
  			</div>
  		</div><!-- end .panel -->
  		<div class="panel">
  			<div class="panel-wrapper">
  				<h2 class="title">Step 4</h2>
  				
          <div class="clearfix">
            <label for="fileInput">Upload a Picture</label>
            <div class="input">
              <ul class="media-grid gallery">
                <li>
                  <a href="#">
                    <img class="thumbnail" src="http://placehold.it/90x90" alt="">
                  </a>
                </li>
                <li>
                  <input class="input-file" id="fileInput" name="fileInput" type="file" />
                </li>
              </ul>
            </div>
          </div>
          <div class="clearfix">
            <label for="fileInput">Or choose one of these</label>
            <div class="input">
              <div class="row">
                <div class="span16">
                  <ul class="media-grid gallery">
                    <li>
                      <a href="#">
                        <img class="thumbnail" src="http://placehold.it/90x90" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="thumbnail" src="http://placehold.it/90x90" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img class="thumbnail" src="http://placehold.it/90x90" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          
  			</div>
  		</div>
  		<div class="panel">
  			<div class="panel-wrapper">
  				<h2 class="title">Preview</h2>
  				<section class="item-detail clearfix">
            <h2>Item</h2>
            <div class="row">
              <div class="span2x">
                <div class="image">
                  <img src="http://placehold.it/100x100">
                </div>
              </div>
              <div class="span8">
                <h1>Awesome Playstation 3 with Controllers and superawesome game collection</h1>
                <div class="labels">
                  <span class="label new">like new</span>
                  <span class="label nearby">nearby</span>
                </div>
                <div class="environmental">
                  <span class="gray"><span class="translation_missing" title="translation missing: en.co2">Co2</span></span>
                  <span class="val">43,32 kg</span>
                  <img src="http://placehold.it/24x24">
                  <img src="http://placehold.it/24x24">
                </div>
                <br class="clearfix">
                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p class="small sup">
                  added on 24 March 2011
                </p>
              </div>
              <div class="span2">
                <div class="prices">
                  <div class="price">
                    <div class="type"><span class="translation_missing" title="translation missing: en.selling_it_for">Selling It For</span></div>
                    <div class="amount">
                      $ 249
                    </div>
                  </div>
                  <div class="price">
                    <div class="type"><span class="translation_missing" title="translation missing: en.renting_it_for">Renting It For</span></div>
                    <div class="amount">
                      $ 11.49
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>  				
  			</div>
  		</div>
    </form>
  </div> <!-- end #coda-slider-5 -->
  <div class="arrows clearfix">
    <div class="coda-nav-left" id="coda-nav-left-1"><a href="#">« Previous Step</a></div>  
    <div class="coda-nav-right" id="coda-nav-right-1"><a href="#">Next Step »</a></div>    
  </div>
</div><!-- .coda-slider-wrapper -->

