.control-group
  %label{:class => "control-label"}= t('services.search.amenity_filter_title')
  - Amenity.searchable.all.each do |am|
    .controls
      %label.checkbox
        = check_box_tag "alert[query[amenity_ids]][]", am.id, (alert_params['query']['amenity_ids'] && alert_params['query']['amenity_ids'].include?(am.id.to_s)), :id => "#{am.name.parameterize}_filter"
        = am.name