- if @resource.published
  = button_to t("places.unpublish"), unpublish_listing_path(:id => @resource.id), :method => :put, :class => 'btn primary medium preview-button unpublish'
- else
  = button_to t("places.publish"), publish_listing_path(:id => @resource.id), :method => :put, :class => 'btn primary medium preview-button unpublish'

%a.btn.medium.edit{:title => t("places.edit"), :href => "#{edit_listing_path(@resource)}"}
  = t("places.edit")
