<h2><%= t("mailers.salutation", :name => @user.first_name) %></h2>
<p><%= t('mailers.auto_welcome.intro') %></p>
<%= simple_format(@message.html_safe) %>
<% set_password_link = link_to t("mailers.here"), edit_password_url(@user, :reset_password_token => @user.reset_password_token) %>
<p><%= t("mailers.auto_welcome.set_password", :set_password_link => set_password_link).html_safe %></p>
<% content_for(:footer_ps) do %>
  <p></p>
<% end %>