<h2>Dear <%= @user.first_name %>,</h2>
<p>Your question regarding "<%= @place.title %>" was answered on <%= site_name %>!</p>
<p><%= link_to 'Click here', place_url(@place, :anchor => 'details-questions') %> to view the response.</p>