%div.button_favorite{:id => "favorite_#{place_id}"}
  -if logged_in?
    - if !favorited
      = link_to favorites_path(:place_id => place_id), :remote => true, :method => :post, :class => 'btn btn-mini', :rel => 'tooltip', :title => t("favorites.add_favorite"), "data-page" => @current_action, :onclick => "$(this).tooltip('hide')" do
        %i.icon-star-empty.icon-black
    - else
      = link_to favorite_path(:id => place_id, :place_id => place_id), :remote => true, :method => :delete, :class => 'btn btn-mini btn-success', :rel => 'tooltip', :title => t("favorites.remove_favorite"), "data-page" => @current_action, :onclick => "$(this).tooltip('hide')" do
        %i.icon-star-empty.icon-white
  - else
    %a.btn.btn-mini{:rel => "tooltip", :title => t("favorites.add_favorite"), :class => "trigger_signup", "data-ref" => favorites_add_path(:place_id => place_id), :href => "#" }
      %i.icon-star-empty.icon-black