- if @results
  = render :partial => 'row', :collection => @results, :as => :resource
- else
  %li
    .thumb.data-block
      = t("places.search.sorry_no_matches")

:javascript
  $('.price .figure').textfill({ maxFontPixels: 26 });