%section.clearfix
  %h1 Search
  
  .row
    .span12
      .search-bar
        %form.form-stacked
          %fieldset.clearfix
            .clearfix
              .input.floatLeft
                %input{:class => 'span6', :id => 'search-key', :type => 'text', :placeholder => "What are you looking for?" }          
                %input{:class => 'btn primary', :value =>"Search", :type => 'submit' }          
              .loc-filter  
                %strong in Singapore
                %br            
                %a{:href => "#"} not where you are? 
        .toggle
          %a{:href => "#", :class => "disp-gallery"} 
          %a{:href => "#", :class => "disp-list current" }       
  
      .results        
        .header
          .title
            %h4 About 1,430 results found for "keyword"
          .controls
            %select{:class => "medium"}
              %option Price (Lowest First)
              %option Price/Size (Lowest First) 
              %option Price/Size (Highest First) 
              %option Reviews

        .alert-message.info No Results Found.          
        
        %ul.list-display
          - 3.times do
            %li
              .thumb.data-block
                %img{:src=>"http://placehold.it/150x90"}
              .info  
                %h3.title
                  %a{:href => "#"} Comfy Place Near Chunling District
                .people.data-block
                  .profile-pic
                    %img{:src=>"http://placehold.it/40x40"}
                  .details
                    .name
                      %a.title{:href => "#"} Fer Martinez
                      .micro
                        .type.verified Agent

                .property.data-block
                  .title
                    .type.apartment 
                      Apartment
                  .micro
                    120ft
                    %sup 2 
                
                .reviews.data-block
                  .title 16
                  .micro reviews                                    
                                
              .price.data-block
                .figure $198.83
                .micro Per night
              
                
                
    
      .items-gallery.results
        .row.show-grid
          - 4.times do
            .span6
              .box
                .clearfix
                  .feat
                    .thumb
                      %a{:href => "#"}
                        %img{ :src => "http://placehold.it/205x137" }                  
                  .side    
                    .thumb
                      %a{:href => "#"}
                        %img{ :src => "http://placehold.it/90x60" }
                    .thumb
                      %a{:href => "#"}
                        %img{ :src => "http://placehold.it/90x60" }                      
                .desc.clearfix    
                  %h3.title
                    %a{:href => "#"} Flat in Shangri-la towers Ortigas
                  .clearfix
                  
                    .property.data-block
                      .title
                        .type.apartment 
                          Apartment
                      .micro
                        120ft
                        %sup 2 

                    .reviews.data-block
                      .title 16
                      .micro reviews                                    

                    .price.data-block
                      .title.figure $198.83                  
                      .micro Per night
                  
                         
    .span4
      .search-aside
        .toggle.hidden
          %button{ :class=>"btn primary" } Buy
          %button{ :class=>"btn" } Get
          %button{ :class=>"btn" } Rent
          %button{ :class=>"btn" } Borrow    
      
        %form.panel-wrap
          %ul.panel-expander 
            %li
              .header 
                Type
              .content
                %ul{:class => "inputs-list"}
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option1" }
                        %span Apartment
                      .right  
                        %span (320)
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option2" }
                        %span House
                      .right  
                        %span (71)
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option3" }
                        %span Villa
                      .right  
                        %span (17)
                        
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option1" }
                        %span Room
                      .right  
                        %span (47)
                        
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option2" }
                        %span Shared Room
                      .right  
                        %span (19)
                        
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option3" }
                        %span Dorm
                      .right  
                        %span (87)
                        
                  %li
                    %label
                      .left
                        %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option3" }
                        %span Other spaces  
                      .right  
                        %span (14)                        
                      
            %li
              .header 
                Price per night
              .content
                .clearfix.textfield
                  %label Minimum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$100" }
                .clearfix.textfield
                  %label Maximum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$300" }                
          	  


            %li
              .header 
                Amenities
              .content
                %ul{:class => "inputs-list"}
                  - 3.times do 
                    %li
                      %label
                        .left
                          %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option1" }
                          %span Most Popular
                        .right  
                          %span (300)
                  %li
                    %a{:href => "#"} more amenities
                          
