%section.clearfix
  %h1 Search
  
  .row
    .span12
      .search-bar
        %form.form-stacked
          %fieldset.clearfix
            .clearfix
              .input.floatLeft
                %input{:class => 'span6', :id => 'search-key', :type => 'text', :placeholder => "What are you looking for?" }          
                %input{:class => 'btn primary', :value =>"Search", :type => 'submit' }          
              .loc-filter  
                %strong in Singapore
                %br            
                %a{:href => "#"} not where you are? 
        .toggle
          %a{:href => "#", :class => "disp-gallery"} 
          %a{:href => "#", :class => "disp-list current" }       
  
      .results        
        .header
          .title
            %h4 About 1,430 results found for "keyword"
          .controls
            %select{:class => "medium"}
              %option Newest First
              %option Option 2
              %option Option 3

        .alert-message.info No Results Found.          
        
        %ul.list-display
          %li
            .thumb
              %img{:src=>"http://placehold.it/50x50"}
            .name
              %h4.title Playstation 3
              .category
                %a{:href => "#"} Video Games &raquo;
                %a{:href => "#"} Consoles &raquo;
              .label.used Used
            .flags
              .location Singapore, Singapore
              .condition
                .label New
                .label Used
            .figure
              .cost $198.83
        
    .span4
      .search-aside
        .toggle
          %button{ :class=>"btn primary" } Buy
          %button{ :class=>"btn" } Get
          %button{ :class=>"btn" } Rent
          %button{ :class=>"btn" } Borrow    
      
        %form.panel-wrap
          %ul.panel-expander 
            %li
              .header 
                Categories
              .content
                %ul.cat-list
                  %li
                    %a{:href => "#"} 
                      All
                      %span (320)
                  %li
                    %a{:href => "#", :class => "current"} 
                      Books
                      %span (320)
                    %ul
                      %li
                        %a{:href => "#"} 
                          Science Fiction
                          %span (31)     
                      %li
                        %a{:href => "#"} 
                          Romance
                          %span (31)                                   
                  %li
                    %a{:href => "#"} 
                      Software
                      %span (823)
            %li
              .header 
                Item Condition
              .content
                %ul{:class => "inputs-list"}
                  %li
                    %label
                      %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option1" }
                      %span Like New
                  %li
                    %label
                      %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option2" }
                      %span Used
                  %li
                    %label
                      %input{:type => "checkbox", :name => "optionsCheckboxes", :value => "option3" }
                      %span Worn
            %li
              .header 
                Buy it For
              .content
                .clearfix
                  %label Minimum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$100" }
                .clearfix
                  %label Maximum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$300" }                
          	  
            %li
              .header 
                Rent it For
              .content
                .clearfix
                  %label Minimum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$100" }
                .clearfix
                  %label Maximum
                  .input
                    %input{ :class => "small", :id => "prependedInput", :name => "prependedInput", :size => "16", :type => "text", :placeholder => "$300" }

            %li
              .header 
                Search Distance
              .content
                .clearfix
                  %select{:class => "full-width"}
                    %option Worldwide
                    %option Option 2
                    %option Option 3





%section.clearfix        
  .items-carousel
    .header
      %h3 Items Nearby
    .row.show-grid
      .span-one-third
        .clearfix
          .thumb
            %a{:href => "#"}
              %img{ :src => "http://placehold.it/160x160" }
          .meta
            %dl
              %dt
                Buy it for
                %dd
                  $249
              %dt
                Rent it for
                %dd 
                  $11.49 
                  %span per day
          
            .label.new like new
            %br
            .label.nearby nearby    
          
        .desc.clearfix    
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .span-one-third
        .clearfix
          .thumb
            %a{:href => "#"}
              %img{ :src => "http://placehold.it/160x160" }
          .meta
            %dl
              %dt
                Buy it for
                %dd
                  $249
              %dt
                Rent it for
                %dd 
                  $11.49 
                  %span per day

            .label.new like new
            %br
            .label.nearby nearby    

        .desc.clearfix    
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


      .span-one-third
        .clearfix
          .thumb
            %a{:href => "#"}
              %img{ :src => "http://placehold.it/160x160" }
          .meta
            %dl
              %dt
                Buy it for
                %dd
                  $249
              %dt
                Rent it for
                %dd 
                  $11.49 
                  %span per day

            .label.new like new
            %br
            .label.nearby nearby    

        .desc.clearfix    
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        
  
        
        
