.panel-wrapper
  = form_for :user, :url => update_address_listing_path, :method => :put, :html => {:id => "change_address", :class => 'form-horizontal'} do |f|
    = render "profiles/billing_address_fields", :f => f

- if false
  .arrows.clearfix
    .float-right
      %a.btn.primary{:href => "javascript:switchToPanel('#2')"}=raw t("places.wizard.next_step")