// HELPERS
// -----------

.hidden{
  display: none !important;
}

.textCenter() {
  text-align: center;
}

.textRight() {
  text-align: right;
}

.textLeft() {
  text-align: left;
}

.floatRight() {
  float: right;
}

.floatLeft() {
  float: left;
}

.edgeLeft() {
  margin-left: 0;
}

.separator{
  color: #ccc;
  margin: 0 5px;
}

.imageBorder() {
  border: 1px solid #ddd;
  padding: 2px;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0,0,0,.075));
}

.thumb{
  .imageBorder();
  background-color: #3e3e3e;
  padding: 9px;
  
  img{
    display: block;
  }
}


.reset-width {
  width: auto;
}

.reset-float {
  float: none;
}

.align-images img {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

.align-center {
  .textCenter();
}

.float-right {
  .floatRight();
}

.float-left {
  .floatLeft();
}

section {
  margin-bottom: @baseline;
}

.center {
  .textCenter();
}

.edge-left {
  .edgeLeft();
}

.span-one-third     { width: 33%; }
.span-one-fourth    { width: 22%; }
.span-two-thirds    { width: 66%; }
.offset-smallest    { margin-left: 8%; }
.offset-one-eight   { margin-left: 12%; }
.offset-one-fourth  { margin-left: 15%; }
.offset-one-fourth2 { margin-left: 25%; }
.offset-one-third   { margin-left: 33%; }
.offset-two-thirds  { margin-left: 66%; }

aside .row, aside .media-grid, .aside .row, .aside .media-grid {
  .clearfix();
  margin-left: 0
}

.help-inline {
  color: @grayDark;
}

// Sup
// ---------
.sup{
  color: @grayLight;
  font-size: @smallfont;
}

a.sup {
  color: @linkColor;
  font-size: @smallfont;
}

.bottom {
  margin-bottom: 10px;
}

.bottom-large {
  margin-bottom: 30px;
}

.bottom-part {
  margin-top: 180px;
}
span.strong,
p.strong {
  font-weight: bold;
}

.u {
  text-decoration: underline;
}

.hr_line {
  border-top: 1px solid @grayLight;
  margin: 25px 0 10px 0;
}
// Layout

body > header{
  background: #fff;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 999;

  > .container {
    margin-top:10px;
    height: 82px;
  }
    
}

body {
  padding: 114px 0 10px;
}

.container > footer p {
  text-align: center; 
}

.header .pull-right {
  float: right;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 30px 0;
}

/* Give a quick and non-cross-browser friendly divider */
.content aside, .content .aside {
  margin-left: 5px;
  padding-left: 14px;
  border-left: 1px solid #eee;
}

label.for-checkbox {
  float:none;
}

// Header
// ---------

.header {
  .user_box {
    
    .user_name {
      font-weight: bold;
      font-size: 1.2em;
      color: @grayDark;
    }

    .small, .small a {
      font-weight: normal;
      font-size: 11px;
      color: #888;
    }

    .links {
      text-align:right
    }
  }

  .preference {
    cursor:pointer;
    text-align: right;
    font-color: #00ff00;

    span.edit-icon {
     height:13px;
      width:13px;
      display:inline-block;
      background: transparent url(../images/icon.pencil.png) 0 0;
    }
  }
}


.topbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


#country-select {
  list-style-type:none;
  position: absolute;
  margin: 0 100px 0 230px;
  top: 275px;
  display: none;
  background: #fff;
  border:1px solid #404040;
  border-radius:5px;

  li {
    background-color:#36C;
    padding:5px 5px 15px;
    line-height: 27px;
    color: #FFF;
    border-bottom:1px solid #404040;
    font-size:16px;

    &.arrow {
      background: transparent url(../images/blue.drop.png) no-repeat;
      width:10px;
      border:none;
      top:-11px;
      right:30px;
      position:absolute;
    }

    a {
      color: #FFF;
      font-style: italic;
      font-size: 10px;
    }
  }
  
  li:first-child + li {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  li:last-child {
    line-height: 17px;
    border-bottom:none;
    padding-bottom:5px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}


#fp-liner {
  color: #99CCFF;

  p {
    line-height: .7;

    &:last-child {
      margin-left: 75px;
    }
  }
  span {
    font-size: 12px;
  }
  b {
    font-weight: normal;
    font-size: 18px;
  }
}

// Announce
// ----------

.announce {
  margin: 0 0 @baseline;
  padding: 10px 14px;
  line-height: 2em;
  #gradient > .vertical(#ffffff, #f5f5f5);
  border: 1px solid #ddd;
  .textCenter();
  .border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  li {
    display: inline;
    text-shadow: 0 1px 0 @white;
  }
  .divider {
    padding: 0 5px;
    color: @grayLight;
  }
  a {
  }
  .active a {
    color: @grayDark;
  }

  h2 {
    font-size: 16px;
    line-height: 1em;
  }
}

// Label (overrides)
// ---------

.label {
  font-size: 10px;
  padding: 2px 5px;
  font-weight: normal;
  &.new { background-color:  darken(@blue, 25%) }
  &.like_new   { background-color: @blue }
  &.nearby     { background-color: @green; }
  &.notice     { background-color: darken(@blue, 25%); }
}


// Form Overrides
// ----------

label {
  padding-top: 6px;
  font-size: @basefont;
  line-height: @baseline;
  float: left;
  width: 200px;
  text-align: left;
  color: @grayDark;
}

form .input {
  display: block;
  clear: left;
  margin: 10px 10px; 
}

select {
  width: auto;
}

.input-append {
  p {
    float: left;
    border: 1px solid #CCC;
    .border-radius(0 3px 3px 0);
    height: 28px;
    line-height: 28px;
    margin-right: -2px;
    padding-left: 5px;
    padding-right: 2px;
    font-size: 12px;
  }
}
.active-photo {
  background: @grayLight;
  padding: 20px 40px;
}
.active-label {
  margin: 10px;
}
.active-label button {
  padding: 5px 10px;
}
.inline-edit-hover {
  background: none;
  width: auto;
  text-decoration: underline;
}

p.help-inline {
  margin-left: 200px;
}

form div.required label:after {
  content: " *";
}

// Item
// ----------

.item-detail {

  .row {

  }
  .span2 {
    // .edgeLeft();
  }

  .image {
    border:1px solid @grayLight;
    padding: 10px;
    
    img{ 
      display: block; 
    }
  }

  h1 {
    font-size: 26px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  .labels {
   margin-bottom: @baseline;
  }

  .description {
  }

  .environmental {
  }

  .location {

  }

 

}

.pal {
  .textCenter();
  .avatar {

  }

  .name {

  }

  .scores img {
    vertical-align: bottom;
  }
}


.environmental {    
  .gray {
    color: @grayLight;
    margin-right: 5px;
  }
  .val {
    font-size: 1.2em;
    font-weight: bold;
  }
  img {
    vertical-align: bottom;
  }
}


.prices {
  .price {
    .textRight();
     margin-bottom: @baseline; 
    .type {
      color: @grayLight;
      font-size: 11px;
      font-style: italic;
      font-weight: normal;
    }
    .amount {
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;

    }
    .description {
      .textLeft();
    }
    .image {
      .floatLeft();
    }
  }
}

.item-comments {
  .comment {
    .clearfix();
    width: 80%;
    margin-bottom: @baseline;
    // FOR ITEM 
    .item {
      background: lighten(@blue, 28%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      } 
    }
    .body {
      border: 1px dashed @gray;
      .border-radius(6px);
      padding: 15px 10px;
      margin-bottom: 5px;
    }
    .created_at {
      float: right;
      color: @gray;
      font-size: @smallfont;
    }
    .commenter {
      float: left;
      .user_box {
        .user_photo {
          margin-top: 5px;
          float: left;
          vertical-align: bottom;
        }
        .user_data {
          margin-left: 5px;
          float: left;
          .user_rank img {
            vertical-align: bottom;
            margin-right: 2px;
          }
        }
      }
    }
    
    .info {
      background: lighten(@green, 28%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      }
      color: @white;
    }
  }

  .comment.right {
    margin-left: 20%;

    .created_at {
      float: left;
    }
    .body {
      border-color: @gray;
    }
    .item {
      background: lighten(@red, 59%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      } 
    }
    .commenter {
      float: right;

      .user_box {
        text-align: right;
        .user_photo {
          float: right;
          margin-right: 5px;
        }
        .user_data {
          margin-right: 5px;
          float: right;
        }
      }
    }
    .info {
      background: lighten(@green, 28%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      }
      color: @white;
    }
  }
  
  .final_comment {
    .clearfix();
    width: 50%;
    margin-bottom: @baseline;
    align: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
    .body {
      border: 1px dashed @gray;
      .border-radius(6px);
      padding: 15px 10px;
      margin-bottom: 5px;
    }    
  }
  
  .rating {
    .clearfix();
    width: 100%;
    margin-bottom: @baseline;
    
    .body {
      border: 1px dashed @gray;
      .border-radius(6px);
      padding: 15px 10px;
      margin-bottom: 5px;
    }
  }
} 

// Questions
#ask-form .buttons, .respond-form .buttons {
  margin-top:10px;
  float:right;

  .float-left {
    input {
      float:left;
      margin: 5px 0 3px 0;
    }
    label { 
      padding:0 0 0 5px;
      margin-right:210px;
    }
  }
}
.item-questions {
  .question-container {
    overflow:hidden;
    margin-bottom:10px;
    padding:5px;
    width:660px;

    &:nth-child(even) {
      background-color:#FFF;
    }
    &:nth-child(odd) {
      background-color:#F8F8F8;
    }

    .user_box {
      width:150px;

      .user_photo {
        float:left;
        margin-right:5px;
      }
    }

    .del {
      position:relative;
      right:8px;
      top:8px;
      font-weight:bold;
      float:right;
      background-color: lighten(@green, 20%);
      padding:0 3px;
      border-radius: 5px;
      line-height:0;
      
      &:hover {
        text-decoration:none;
      }
    }

    .save-indicator {
      position:relative;
      right:8px;
      top:8px;
      float:right;
      line-height:0;
    }

    div.p {
      float:left;
      width:480px;
      padding:10px;
      border:1px dotted #DDD;
      border-radius:5px;

      div {
        margin-top:20px;
      }

      .owners-answer {
        float:right;
        position:relative;
        top: -10px;
        right: 20px;
      }

      .time {
        float:right;
        font-size: @smallfont;
        color:#AAA;
      }
    }

    div {
      overflow:hidden;

      .user_box {
        float:right;
      }

      &.left {
        margin-bottom:10px;

        &:hover .del {
          display:inline;
        }
      }

      &.right {
        margin-bottom:10px;

        .user_box {
          float:left;
        }

        &:hover .del {
          display:inline;
        }
      }
    }

    .open-respond-form {
      float:right;
    }
  }
}

// Item
// -----------

.items {
  .item {
    h4 {
      line-height: 1em;
    }
    padding: 10px 0;
    border-bottom: @grayLighter 1px solid;
  }
}

// Header
// -----------

aside .section-header, .aside .section-header, .section-header {
  margin: 0 0 @baseline;
  padding: 10px 14px;
  line-height: 1em;
  color: #747474;
  //#gradient > .vertical(#ffffff, #f5f5f5);
  //border: 1px solid #ddd;

  //.border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  font-size: 16px;

  //#gradient > .vertical(#F0F0F0, #F5F5F5);
  background: #F4F4F4;
}

// Media Grid
// -----------

.media-grid {
  margin-left: -20px;
  margin-bottom: 0;
  .clearfix();
  li {
    display: inline;
  }
  a {
    float: left;

    margin: 0 5px 5px 0;
    .imageBorder();
    img {
      display: block;
    }
    &:hover {
      border-color: @linkColor;
      .box-shadow(0 1px 4px rgba(0,105,214,.25));
    }
  }
}

// User Items

.user-items {

  ul.tabs {

  }

}

.sort-wrapper {
  background: @grayLight;
}

.media-grid.gallery{ margin-left: 0;}

// Wizard Sidebar
// -----------

.wizard-wrapper .panel {
  display: none;
}

ul#wizard-selector {
  list-style: none;
  padding:0;
  margin:0 0 35px 0;
  li {
    //padding: 5px;

    .indicator {
      float: left;
      height: 32px;
      padding: 4px;
      width: 32px;
      margin-right: 10px;
    }
    a {
      padding: 10px;
      display:block;
      color: @red;
    }
    a.active {
      background: @grayLight;
      color: #000;
    }
  }

}

.wizard-aside {
  //position: fixed;
  width: 240px;
  top: auto;
}

.wizard-aside.sticky {
  position: fixed;
  top: 52px;
  
}

// Amenities
// -----------
.amenities {
  .amenity {
    display: inline;
    width: 200px;
    font-size: 14px;
    text-align: right;
    height: 50px;

    &:nth-child(3n+3) .save-indicator {
      margin-bottom:4px;
      /* Note: Don't know why but this is needed on every last (3rd) on the amenities list, if not, it destroys layout on un/check */
    }
  }

  input[type="checkbox"] {
    float:right;
    margin:3px 0 10px 9px;
    padding-right:5px;
  }

  a { float: right }
}


// Registration
// -----------

.registration {
  background: @grayLight;
  overflow:hidden;

  .border-radius(4px);
  .section {
    padding: 10px 0;
    margin-bottom: 25px;
  }
  .bored {
    border-right: 1px solid lighten(@gray, 20%);
  }
  .input {
    margin: 10px 10px 10px 40px;
    input {
     
    }
  }
  .btn {
    margin:15px 65px 25px 0 ;
  }
}

.borderBottom {
  border-bottom: 1px solid #dfdfdf;
}

.borderTop {
  border-top: 1px solid #dfdfdf;
}

.user_badge {
  padding: 5px;
}

.small {
  font-size: @smallfont;
}


// Pal Aside
.pal-aside-profile{
  .textLeft();
  
  .divider{    
    background: #f8f8f8;    
    color: #666;
    font-weight: bold;
    padding: 10px 7px;    
    margin-bottom: 10px;

    h2{
      font-size: 11px;
      margin: 0;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
    }
  }  
  
  .name{    
    .textCenter();
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;    
  }
  
}// Pal Aside


// Share
.share{
  .clearfix();
  overflow: hidden;
  width: 120px;
  
  label{
    float: left;
    background: none;
    text-transform: none;
    font-weight: normal;
    color: #999;
    font-size: 13px;
    padding: 0;
    width: auto;
    margin-right: 5px;
  }
  
  span.st{
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    margin: 3px 5px 0 0;
    background: #f0f0f0;
    float: left; 

    &.st_facebook_custom{
      background: transparent url(../images/icons/facebook.png) 0 0;
    } 
    &.st_twitter_custom{
      background: transparent url(../images/icons/twitter.png) 0 0;
    } 
  }
}

.preview-header {
  padding-top: 10px;
  p {
    width: 280px;
    background: #FFF;
    margin: 0 auto 10px auto;
    display:block;
    color: @red;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  .border {
    z-index: 99;
    border-top: 2px solid #999;
  }
  margin-bottom: 25px;
}

.accomodation-wrapper{


  .header{
    padding: 10px 0;
    position: relative;
    .clearfix();
    overflow: visible;
    _zoom: 1;
    border-top: 1px solid #eee;
    
    .title{
      width: 70%;      
      float: left;      
      
      h1{
        line-height: 1.2em;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
      }
      
      .meta{
        .clearfix();
        overflow: hidden;
        _zoom: 1;
        
        p{
          color: #888;
          float: left;
          width: 65%
        }      
        .share{
          float: right;          
        }              
      }
    } // header    
    
    .focal{
      width: 180px;
      height: 180px;
      background: transparent url(../images/badge.png) no-repeat 0 0;
      padding: 10px;
      position: absolute;
      top: -15px;
      right: 0;
      z-index: 1;
      text-align:center;

      .btn{
        padding:9px 45px;
      }      
      
      .price{
        color: #fff;
        text-shadow: 0 -1px #ff6600;        
        line-height: 1;
        padding: .5em 0 0;
        margin-bottom: 0;
        
        
        .sub{
          margin-bottom: 10px;
          font-size: 11px;
          padding: 10px 0;
          letter-spacing: 0.025em;
          font-weight: normal;
          display: block;
          text-transform: uppercase;
          
        }        
      }      
    } //end focal
  }//end header

  .tabs{
    margin-bottom: 11px;
  }
  
  .description{
    margin: 20px 0;
  }  
  
}//accomodation-wrapper

.tabbed-panel{
  .border-radius(5px);    
  border: 1px solid #eee;
  overflow: hidden;
  margin: 20px 0;
  _zoom: 1;
  .clearfix();    
  
  .tabs{
    padding: 5px 10px 0;
    background: #f8f8f8;
  }
  .contents{
    clear: both;
    padding: 10px;
    background: #fff;
    
    .fine-print{
      margin: 0;
      padding: 0;
      
      .span4{
        width: 198px;
      }
    }
  }
} // end tabbed-panel

#photo-slider-control{
  padding: 10px 0;
  margin-bottom: 10px;
  a{
    margin: 0 .5em;
  }  
}

#photo-slider {  
  .thumb{
    padding: 4px;
    background-color: #3e3e3e;
  }  
  .viewport { float: left; width: 700px; height: 299px; overflow: hidden; position: relative; margin-bottom: 11px; }  
  .disable { /*visibility: hidden;*/ opacity: .4; }
  .overview { 
    list-style: none; 
    padding: 0; 
    margin: 0;  
    position: absolute; 
    left: 0; 
    top: 0; 
    
    li{
      overflow: hidden;
      _zoom: 1;  
      float: left; 
      margin-right: 20px; 
      height: 321px; 
      width: 700px;

      .big, .small{
        float: left;
        text-align:center;
      }
      .big{
        width: 451px;
        margin: 0 11px;
        position: relative;
        background-color:#3e3e3e;
        min-height:299px;
        
        .caption{
          width: 431px;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 10px;
          height: 20px;
          color: #fff;
          background: transparent url(../images/glass.black.png) repeat 0 0;
        }
      }  
      .small{
        width: 216px;

        a{
          display: block;
          background-color:#3e3e3e;
          min-height: 144px;

          &:first-child{
            margin-bottom: 11px;
          }

          img{
            margin: 0 auto;
            display: block;
          }
        }
      } // small      
    } // li
  } //overview
  
  .slider-nav{     
    background: #f0f0f0;
    border: 1px solid #eee;
    .border-radius(2px);
    overflow: hidden;
    clear: both;
    padding: 10px 10px 0;
    float: none;
    position: relative;
    
    .buttons { 
      display: block; width: 10px; height: 40px;  background: #000;
      padding: 5px;
      position: absolute;
      font-size: 20px;
      font-weight: bold;
      top: 10px;
      z-index: 1;
      text-indent: -9999px;
      &.next{ 
        right: 10px;
        background: transparent url(../images/icons/icon.arr-right.png) no-repeat right center;
      }
      &.prev{ 
        left: 10px;                
        background: transparent url(../images/icons/icon.arr-left.png) no-repeat left center;
      }    
    } //buttons
    
    
    .pager { 
      overflow:hidden; 
      list-style: none;  
      float: left;
      margin: 0;
      padding: 0 20px 0 19px;
      //height: 50px;      
      width: 700px;
      position: relative;
      
      li { 
        float: left; 
        margin: 0 7px 10px;
      }
      .pagenum { 
        background-color: #fff; 
        text-decoration: none; 
        text-align: center; 
        padding: 5px; 
        color: #555555; 
        font-size: 14px; 
        font-weight: bold; 
        display: block; 
        width: 40px;
        height: 40px;
        .box-shadow(0 1px 1px rgba(0,0,0,.075));
        
        img{
          display: block;
        }
       }       
      .active { color: #fff; background-color:  #2a830e; }
    }    
  } // slider-nav
} // #photo-slider 

// Price Holder

.destination{
  padding: 5px 0;
  clear: both;
}

.highlight{
  background: #f0f0f0;
  border: 1px solid #eee;
  .border-radius(2px);
  padding: 10px;    
  
  .amt{
    float: left;
    margin: 0;
    line-height: 1;
    
    span{
      display: none;
      border-top: 1px solid #bbb;
      font-size: 11px;
      font-weight: normal;
      color: #666;
      text-transform: uppercase;
      margin-top: 5px;
      padding-top: 5px;
      letter-spacing: 0.025em;
    }
  }  
  
  .btn{
    float: right;
  }  
  
  .figure{
    .clearfix();
    overflow: hidden;  
    _zoom: 1;    
  }
  
  .filter{
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #cecece;
    
    select{
      width: 198px;
    }
  }  
  
} // price holder

.fine-print{
  clear: both;
  margin:  15px 0;
  padding: 10px 0;

  
  .col{
    .clearfix();
    overflow: hidden;
    _zoom: 1;
    
    label{
      float: left;
      color: #353535;
      background: none;
      text-align: left;
      margin-right: 10px;
      font-size:10px;
      width:75px;
    }

    label.sm {
      width:35px;
      height:20px;
    }
    
    .value{
      float: right;
      text-align:right;
      width: 75px;
      font-weight: normal;
    }
    .value.sm {
      width:35px;
      height:20px;
    }
    .value.bigger{
      width:100px;
    }
    
    label,.value{
      padding: 5px 0;
      line-height: 20px;
    }
  }  
}


ul.references{
  list-style-type: none;
  margin: 0 0 20px 0;
  
  li{
    padding: 3px 0 3px 25px;
    
    &.check{
      background: transparent url(../images/icons/icon.check.png) no-repeat 0 center;
    }
    &.reviews{
      background: transparent url(../images/icons/icon.smile.png) no-repeat 0 center;
    }
    &.response{
      background: transparent url(../images/icons/icon.response.png) no-repeat 0 center;
    }
    &.friends{
      background: transparent url(../images/icons/icon.people.png) no-repeat 0 center;
    }    
  }
} // references

// Search
// ------------
.wrap-searchbar{
  &.sticky {
    background: transparent url(../images/bg.spillover.png) repeat-x left top;
    padding: 20px 0 0;
    position: fixed;
    top: 32px;
    width: 700px;

    + .results {
      margin-top: 105px;
    }
  }  
}

.search-bar{  
  background: #f8f8f8;
  border: 1px solid #c0c0c0;
  padding: 10px;  
/*  .border-radius(5px);*/
  .clearfix();
  overflow: hidden;
  _zoom: 1;
  margin-bottom: 20px;
  
  form{
    margin: 0;
    .floatLeft();
  }
  
  fieldset{
    padding: 0;
    margin: 0;
  }
  
  .clearfix{
    margin: 0;
  }
  
  .input,
  .loc-filter{
    .floatLeft();
    margin: 0;
  }
  .loc-filter{
    padding-top: 2px;
    margin-left: 10px;
    
    a{
     font-size: 11px; 
    }    
  }

  .controls {

    select {
      width: 180px;
    }
  }


  .toggle{
    padding-top: 3px;
    .clearfix();
    height: 30px;
    margin-top: 7px;
    a{
      width: 24px;
      height:24px;
      float:right;    
      .border-radius(2px);
      margin-left: 10px;
      opacity: 0.2;
    }
    
    a.current{ opacity: 1;}
    
    .disp-list{
      background: transparent url(../images/icon.list.png) no-repeat center center;
    }

    .disp-gallery{
      background: transparent url(../images/icon.gallery.png) no-repeat center center;
    }    
  }


}

//
// Search Results
.results{
  .header{
    .clearfix();
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
    .title{
      .floatLeft();
      
      h4{
        line-height: 1;
        margin-top: 8px;
      }
    }    
    .controls{
      .floatRight();
      select{
       width: 200px; 
      }            
    }
  }
  
  ul{
    list-style-type: none;    
    margin: 0;
    li{
      .clearfix();
      overflow: hidden;
      zoom: 1;
      padding: 10px 0;
    }
    &.list-display{            
      
      li{
        padding: 7px;
        background: #fff;
        .border-radius(5px);
        border: 1px solid #c0c0c0;
        margin: 10px 0;
        cursor: pointer;
        
        &:hover{
          background: #f7fdff;
          border-color: #c0e4f3;
        }        
      }
      
      .info{
        float: left;
        
        > .title{
          line-height: 1em;          
          margin: 12px 0 6px;
          font-size:19px;
        } /* title */
      }      
      
      .data-block{
        float: left;
        margin-right: 30px;
        line-height: 20px;        
        &:last-child{
          margin-right: 0;
        }
        
        .title{
/*          font-weight: bold;*/
          color: #454545;
          font-size: 12px;
        }
        
        &.thumb{
          margin-right: 10px;
          min-width: 150px;
          min-height: 100px;
          background-color: #3e3e3e;
          img { margin: 0 auto }
        }
        
        .micro{
          text-transform: uppercase;
          letter-spacing: 0.025em;
          
         .verified{
            background: transparent url(../images/icons/icon.check.png) no-repeat 0 2px;
            padding-left: 20px;
          }
        }
        
        &.property{
          .house {
            background: transparent url(../images/icons/houseicon.png) no-repeat 0 3px;
            padding-left: 25px;
            margin-top: 20px;
          }
          .size {
            background: transparent url(../images/icons/sizeicon.png) no-repeat 0 3px;
            padding-left: 25px;
            margin-top: 5px;
          }

        }
        
        &.property2 {
          .bathroom {
            padding-left: 25px;
            margin-left: 30px;
            margin-top: 5px;
            background: transparent url(../images/icons/bathroomicon.png) no-repeat 0 3px;
          }
          .bedroom {
            padding-left: 25px;
            margin-left: 30px;
            margin-top: 20px;
            background: transparent url(../images/icons/bedroomicon.png) no-repeat 0 3px;            
          }
        }
        
      } /* datablock */
            
      .price.data-block{
        float: right;        
        text-align: right;  
        padding: 15px 5px 0 0;
        .figure{  
          font-size: 28px;        
          font-weight: bold;
          color: #353535;
          margin-bottom: 5px;
        }
      }
      
      .people{
        float: left;
        width: 225px;
        margin-top:25px;

        .details,
        .profile-pic{
          float: left;
          margin-right: 10px;
        }
        
        .details{
          margin-right: 7px;
          
          .rating{
            .clearfix();
            overflow: hidden;
            zoom: 1;
            margin-top: 3px;
            
            .smile,
            .star{
              float: left;
              font-weight: bold;
              font-size: 12px;
              padding-left: 20px;
              margin-right: 5px;              
              width: 30px;
              
              a{
                color: #353535;
              }
            }            
            .star{
              background: transparent url(../images/icons/icon.star.png) no-repeat 0 0;
              margin-right: 0;
            }
            .smile{
              background: transparent url(../images/icons/icon.smile.png) no-repeat 0 0;              
            }
          }
        }/*end .details*/
        
        .profile-pic{
          padding: 3px;
          border: 1px solid #eee;
          .border-radius(3px);
          img{ display: block;}
        }
      }/*end .people*/
            
    } /*end list-display*/
  }/*end list-display*/
  
  .micro{ 
    font-size: 11px;
    color: #888;
  }
  
  .thumb{
    border: 1px solid #eee;
    padding: 4px;
    margin-right: 5px;
    background-color: #3e3e3e;
    .border-radius(3);    
    img{
      display: block;
    }
  }
}// results

//
// Items Gallery
.items-gallery{
  
  .box{
    padding: 7px;
    background: #fff;
    .border-radius(3px);
    border: 1px solid #c0c0c0;
    margin: 0px 0 10px;
    cursor: pointer;
    height: 270px;
    
    &:hover{
      background: #f7fdff;
      border-color: #c0e4f3;
    }
  }
    
  &.results{
/*    margin-bottom: 20px;*/
    .desc{
      padding: 10px 3px;
    }    
  }
  
  .header{
    padding: 20px 0 10px;
    border-top: 1px solid #eee;    
  }
  
  .clearfix{
    overflow: hidden;
    _zoom: 1;
  }
  
  .feat{
    float: left;
    
    .thumb{
      float: left;
      width: 216px;
      min-height: 144px;
      background-color: #3e3e3e;
      img { margin: 0 auto }
    }
  }
  
  .side{
    float: right;
    width: 102px;
    overflow: hidden;
    _zoom: 1;
    
    .thumb{
      float: left;
      width: 100%;
      min-height: 70px;
      margin: 0 auto 4px;
      
      &:last-child{
        margin-bottom: 0;
      }

      img { margin: 0 auto }
    }
    
  }
  
  .thumb{    
    float: none;
    border: 0;
    padding: 0;
    background-color: #3e3e3e;
    border-radius:0;

    img{ display: block; }
  }
  
  h3.title{
    line-height: 1.4em;
    margin-bottom: 5px;
  }
    
  .data-block{
    float: left;
    margin-right: 10px;
    line-height: 20px;        
    &:last-child{
      margin-right: 0;
    }
    
    .title{
/*      font-weight: bold;*/
      color: #454545;
      font-size: 12px;
    }
    
    &.thumb{
      margin-right: 10px;
    }
    
    .micro{
      text-transform: uppercase;
      letter-spacing: 0.025em;
      
     .verified{
        background: transparent url(../images/icons/icon.check.png) no-repeat 0 2px;
        padding-left: 20px;
      }
    }

    &.property{
      .house {
        background: transparent url(../images/icons/houseicon.png) no-repeat 0 3px;
        padding-left: 25px;
        margin-top: 5px;
      }
      .size {
        background: transparent url(../images/icons/sizeicon.png) no-repeat 0 3px;
        padding-left: 25px;
        margin-top: 5px;
      }

    }
    
    &.property2 {
      .bedroom {
        padding-left: 25px;
        margin-left: 0px;
        margin-top: 5px;
        background: transparent url(../images/icons/bedroomicon.png) no-repeat 0 3px;            
      }
      .bathroom {
        padding-left: 25px;
        margin-left: 0px;
        margin-top: 5px;
        background: transparent url(../images/icons/bathroomicon.png) no-repeat 0 3px;
      }
    }
    
  } // end data-block

  .price{
    float: right;
    text-align: right;
    .figure{      
      font-size: 24px;
    }    
  }
    
} // end Items Gallery

// Search Aside

.search-aside{
  
  .toggle{
    .btn{
      width: 108px;
      margin-bottom: 3px;
    }
  }

  &.sticky {
    position: fixed;
    top: 52px;
    width: 220px;
  }
}


.panel-wrap{
  ul{
	  list-style-type: none;
	  margin: 0;
	}		
}

/*
/* Message */
.conversations {
  a:hover {
    text-decoration: none;
  }
  &:hover .delete-conversations {
    display: inline;
  }

  .delete-conversations {
    position:relative;
    z-index:2;
    margin: 5px 5px 0;
    display: none;
  }

  .mark-as {
    margin-top: -20px;
    margin-bottom:15px
  }
}


// 
// My Places
.my_places .edit_button a.btn {
  float:right
}

// 
// Profile
.profile_page .section-header a.settings {
  font-size:12px;
  float:right;
}
table.borderless,
table.borderless td {border:0}
table.borderless td {width:50%}
table.borderless td.label_detail {color:#777;text-align:right;}
select#bank_account_holder_country_code,
select#address_country {width:200px;}

.edit_profile_page form label {width:190px;}
.edit_profile_page form .public,
.edit_profile_page form .fully-private,
.edit_profile_page form .private {
  width:16px;
  height:16px;
  background-position: right center;
  background-repeat: no-repeat;
  float:left;
  margin:7px 4px 0 0;
}
.edit_profile_page form .fully-private,
.edit_profile_page form .private {
  background-image: url("../images/icon_private.png");
}

.edit_profile_page form .public {
  background-image: url("../images/icon_public.png");
}

.edit_profile_page .unconfirmed_email span {
  display: block;
  float: left;
  font-size: 12px;
  margin: 5px 0 16px 20px;
  padding: 4px;
}

#address-modal form,
#avatar-modal form {margin:0;}
#avatar-modal .preview {font-size:11px; color:#ccc; margin-top: 10px;}
.change_avatar {font-size:11px;}

//
// Rent apartment

ul.breadcrumb .divider { color:#666; }
ul.breadcrumb a {color:#333;}

.rent_place_page {
  .row .span12 {
    border: 2px solid #F2F2F2;
    border-radius: 3px;
  }

  .info {
    margin-top: 20px;
    padding-bottom: 15px;

    .clearfix { margin-top: 15px }

    h3 {
      border-bottom: 1px solid #F2F2F2;
      font-size: 24px;
      margin-left: 20px;
    }
    .span4 { 
      margin-left: 25px;

      .thumb {
        width: 216px;
      }
    }
    .span8 { margin-left: 10px }

    .price-data-block {
      margin: 7px 0 0 60px;
    }

    .price {
      font-size: 16px;
      color: #888;

      .figure {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 5px;
      }

      .micro-price {
        font-size: 12px;
        color: #888;
      }
    }

    .location, .type {
      font-size: 12px;
      color: #888;
      line-height: 30px;
    }
    .type {
      background: url('/images/icons/houseicon.png') no-repeat 0 5px
    }

    .micro {
      font-size: 12px;
      background: url('/images/icons/sizeicon.png') no-repeat 0 3px;
      line-height: 30px;
      color: #888;
    }

    .micro .title, .type .title { margin-left: 25px }
  }

  .details {
    font-size: 15px;
    line-height: 30px;
    margin: 10px 0 20px 80px;

    strong {
      font-size: 12px;
      color: #888;
      font-weight: normal;
      margin-bottom: 10px;
    }

    #checkin-div { background: url('/images/icons/checkin.png') no-repeat 0 8px }
    #checkout-div { background: url('/images/icons/checkout.png') no-repeat 0 8px }
    #guests-div { background: url('/images/icons/maxguests.png') no-repeat 0 8px }
    #rooms-div { background: url('/images/icons/bedrooms.png') no-repeat 0 8px }

    #checkin-div, #checkout-div, #guests-div, #rooms-div {
      padding-left: 60px;
    }
  }

  .duration {
    color: #777;
    font-size: 16px;
    padding-top: 9px;

    span {
      font-weight: bold;
    }
  }

  fieldset { margin-left: 5px }
  tbody.datepickerDays td.datepickerSelected a { color: #FFF }
  .datepickerContainer { background: #FFF }
  div.datepicker a { color: #333 }
  table.datepickerViewDays { margin: 0 }
  td.datepickerNotInMonth { background-color: #F6F6F6 }
  a#clearSelection { font-size: 11px }

  td.occupied { background-color: #FFA0A0 }
}
.translations_missing { color: #F00 }


.center-div-image img {
  margin: 0 auto;
}

// 
// Panel Expander
.panel-expander {
	border-bottom: solid 1px #c4c4c4;
	margin-top: 3px;	
	
  .header {
  	background: #e9e7e7 no-repeat right -47px;
  	padding: 10px 10px;
  	margin: 0;
  	font: bold 14px/100% Arial, Helvetica, sans-serif;
  	border: solid 1px #c4c4c4;
  	border-bottom: none;
  	cursor: pointer;
  	color: #353535;
  	
  	&:hover {
    	background-color: #e3e2e2;
    }
    &.active {
    	background-position: right 9px;
    }
    
  }
  .content {
  	background: #f7f7f7;
  	margin: 0;
  	padding: 10px 15px 15px;
  	border-left: solid 1px #c4c4c4;
  	border-right: solid 1px #c4c4c4;
  	font-size: 12px;
  	
  	label{
  	  font-size: 12px;
  	}
  }
  
  .cat-list{
    margin: 0 0 0px 10px;
    list-style-type: square;
    li a{
      font-size: 12px;
    }
    li a.current{
      color: #404040;
      font-weight: bold;
    }
  }
  
  label{
    width: 40px;
    text-align: left;
  }
  
  .inputs-list{
    padding: 0;
  }

  .inputs-list label{
    width: auto;
    padding: 2px 0;
    font-size: 13px;
    overflow: hidden;
    .clearfix();
    
    .left{      
      float: left;      
    }
    
    .right{
      text-align: right;
      float: right
    }
  }
  
  
  .input{
    margin-left:  60px; 
    margin: 0;
    
    .small{
      width: 60px;
    }       
  }
  
  
  
  input.full-width,
  select.full-width{
    width: 190px;
  }  
  
  
  .textfield{
    label{ width: 98px; }
    .input .small{ width: 80px; }
    label, .input{
      float: left;
      clear: none !important;
    }
  }
   
} // end panel-expander

// User Information
// ----------------

.user_info {
  diplay:       block;
  clear:        left;
  margin:       10px 10px;

  .label_detail {
    padding-top:  6px;
    padding-left: 10px;
    font-size:    14px;
    line-height:  20px;
    float:        left;
    width:        190px;
    display:      inline-block;
    margin-left:  20px;
  }

  .user_detail {
    display:        inline-block;
    width:          200px;
    height:         20px;
    padding:        4px;
    font-size:      14px;
    line-height:    20px;
    padding-right:  10px;
  }
}

// Availabilities
// --------------
h4.year-header {
  padding-left:15px;
  background-color:#046CB6;
  color:#EEE;
}
.availabilities-block {
  border:3px solid grey;
  margin:10px;

  .availability-color {
    float:right;
    width:15px;
    height:64px;
    display:inline-block;

    &.red { background-color:#C43C35; }
    &.blue { background-color:#049CDA; }
    &.green { background-color:#3977b0; }
    &.grey { background-color:#BBB; }
  }

  .data-container {
    padding:25px 0;

    span {
      padding-left:25px;
    }
  }

  &:hover .open-edit-availability {
    display:inline;
  }

  .edit-data-container {
    margin:0 0 5px 10px;
  }
}
.availability-price {
  padding-left:30px;
}
.availability-price .wrap {
  margin-left:10px;
}
.availability-action {
  margin-top:10px;
  text-align:right;
  padding-right:100px;

  .remove-action {
    float:left;
  }
}

// Indicator

.save-indicator {
  margin-left: 5px;

  &.right {
    float:right;
  }
}

.counter {
  margin-left: 5px;
  color: @gray;
}

#search-load-indicator {
  left:45%;
  top:50%;
  position:fixed;
}

// Photos List

.primary_marker {
  margin-left: 30px;
  font-weight: bold;
  color: @gray;
}

.photo_wrapper {
  .active-photo {
    text-align: center;
  }
}
ul#photos_list { 
  list-style-type: none; 
  margin: 10px 0 0 0; 
  padding: 0;

  li {
    cursor:pointer;
    margin: 0 10px 0 0;
    float: left;
    font-size: 4em;
    text-align: center;
    width:115px;
    height: 140px;

    .photo_image {
      margin-bottom: 15px;
      width:106px;
      height:70px;
      border: 1px solid #000;
      background-color: #F2F2F2;
      padding:3px;
    }

    .photo_action {
      font-size: 13px;
      z-index:999;
      display:none;
      position:absolute;
      margin-left:95px;
      margin-top:-10px;

      a {
        cursor:pointer;
        color:red;
        font-weight:bold;
        font-size:13px;

        &:hover {
          text-decoration:none;
        }
      }
    }
  }
  li.active {
    .photo_image {
    }
  }
}

// Wizard
h1.title {
  margin-bottom: 0;
}

h2.title {
  background: @grayLight;
  padding: 5px 20px ;
  width: 50%;
  text-align: right;

}

.preview-button {
  width: 120px;
  text-align: center;
}

#listing-status {
  margin-right: 35px;
}

/* @start uploadify */
.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font-family: helvetica, arial;
	font: 14px;
	margin-top: 5px;
	padding: 10px;
	width: 95%;
}

.uploadifyError {
	background-color: #FDE5DD!important;
	border: 2px solid #FBCBBC!important;
}

.uploadifyQueueItem .cancel {
	float: right;
}

.uploadifyQueue .completed {
	background-color: #E5E5E5;
}

.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}

.uploadifyProgressBar {
	height: 30px;
	width: 1px;
	background-image: -webkit-gradient(linear,leftbottom,lefttop,color-stop(0.02,rgb(79,153,21)), color-stop(0.51,rgb(111,184,49)), color-stop(0.76,rgb(145,221,79)) );
	background-image: -moz-linear-gradient(centerbottom,rgb(79,153,21) 2% #6fb831 51% #91dd4f 76% );
}

// Form Error
// -----------

.formError .formErrorContent {
	width: 100%;
	background: @red;
	position:relative;
	z-index:5001;
	color: @grayLight;
	width: 150px;
	font-size: 12px;
	border: 2px solid #ddd;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0,0,0,.095));
	padding: 4px 10px 4px 10px;
}

.formError .formErrorArrow div {
  background: @red;
}

a.twipsy, a.twipsy-link, .place_status  {
  border:1px solid;
  border-radius:5px;
  margin-left:10px;
  line-height:1;
  padding:0 2px;
  display: inline-block;
  position: relative;

  &:hover {
    text-decoration:none;
  }
}

.twipsy-inner {
  text-align:left !important;
}

.w-left-icon {
  padding-left:20px;
  background-repeat:no-repeat;
  background-position:left center;

  &.check {
    background-image:url(../images/icons/icon.check.png);
  }
  &.ekis {
    background-image:url(../images/icons/icon.ekis.png);
  }
}

pre.desc {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#FFF;
  border:none;
}


#map {
  height: 400px !important;
  width: 690px !important;
}


// index

.start{
  .hub{
    padding: 90px 5px 0;
    
    h1{
      font-weight: normal;
      font-size: 19px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      margin-bottom: 12px;
      
      a{
        color: #3977b0;
        font-weight: bold;
        padding-right: 16px;
        background: transparent url(../images/blue-arrow-down.png) no-repeat right center;
        
        &:hover{
          text-decoration: none;
        }
      }
    }
    
    input.textbox{
      padding: 9px 8px 8px 8px;
      margin: 0 10px 0 0;
      float: left;
    }    
    
    .btn{
      float: left;
      margin: -1px 0 0 0;
      padding: 9px 14px 9px;
      width: auto;
    }
    
  }
  
  #teaser-pics{
    height: 309px;
    
    .thumb{      
      display: block;
      background: #fff;
      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
      padding: 4px;
      border: 1px solid #c0c0c0;
      position: relative;
      width: 450px;
      height: 296px;
      overflow: hidden;
      
      img{
        display: block;
        width: 450px;
        height: 296px;        
      }
      
      .description{
        color: #f0f0f0;
        background: transparent url(../images/glass.black.png) repeat 0 0;
        width: 430px;
        height: 20px;
        padding: 10px;        
        position: absolute;
        left: 4px;
        font-size: 14px;
        bottom: 4px;
        z-index: 2;
      }
    }    
  }

  #nav{
    text-align: center;
    padding: 10px 195px;
    overflow: hidden;
    a{
      height: 10px;
      width: 10px;
      background:  transparent url(../images/dot.normal.png) no-repeat center center;
      text-indent: -9999px;
      float: left;
      margin: 0 2px;
      &.activeSlide{
        background:  transparent url(../images/dot.em.png) no-repeat center center;
      }
    }
  }
  
}

.tease-blurb{
  border: 1px solid #c0c0c0;
  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
  margin-top: 40px;
  padding: 40px 19px 19px 19px;
  position: relative ;
  
  .tease-header{
    position: absolute;
    top: -20px;
    left: 32px;
    background: transparent url(../images/whybar_wide.png) no-repeat 0 0;
    text-indent: -9999px;
    z-index: 1;
    width: 871px;
    height: 49px;
  }
  
  .row{
    padding: 0 100px;
  }
    
  .wrapper{
    background: #ebebeb;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    overflow: hidden;
    padding: 5px 13px 13px 13px;
    height: 184px;
    
    .title{
      text-align: center;
      font-weight: bold;
    }
    
    img{
      float: right;
      margin-left: 10px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.tease-featurette{
  margin-top: 30px;
  .wrapper{
    background: #fff;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    overflow: hidden;
    padding: 10px 19px 19px 19px;
    
    p{
      margin-bottom: 0;
    }
    
    p + p{
      margin: 10px 0;
    }
    
    .title{
      font-weight: normal;
      background: none;
      padding: 0;
      width: auto;
      text-align: left;
      margin-bottom: 5px;
    }
    
  &.feat-place img{
    margin-top: 10px;
    display: block;
  }  
    
   &.about img{
      float: right;
      display: block;
      margin-left: 10px;
    }
  }
}


.header .user_box,
.header .preference-wrapper{
  padding-top: 10px;
}

.header .user_box{
  float: right;
  margin-top: 20px;

  &.logged-in{
    margin-top: 3px;
    
    .user_name{
      float: left;
      margin-left: 10px;
    }
    
    .thumb{
      float: left;
      margin-left: 20px;
      padding: 0;
      border: none;
      
      
      img{
        width: 40px;
        height: 40px;
      }      
    }
  }
  
  .links{
      float: right;
      margin: -10px 0 0 30px;
    a{
      font-weight: bold;
    }

  }
}



.preference-wrapper{
  float: right;
  border: none;
  list-style-type: none;
  margin: 2px 10px 0 10px;
  #toggle-preferences{
/*    background: #f6f6f6 url(../images/icons/icon.globe.png) no-repeat 9px 14px;      */
    
    .dropdown-toggle{
/*      .border-radius(4px);*/
/*      background: #f0f0f0;*/
/*      border: 1px solid #cfcfcf;*/
      display: block;
      padding: 10px 10px 10px 33px;
      background: transparent url(../images/blue-arrow-down.png) no-repeat 85px center;      
      color: #333;
      width: 60px;
      font-weight: bold;
      font-size: 13px;
      
      &:hover,:active{
        text-decoration: none;
      }
      
      &:after{
        content: normal;
      }
    }    

    &.open{
/*      background-color: #f0f0f0;*/
    }
    
    &.open .dropdown-toggle{
/*      color: #333;
*//*      border-color: #999;
      -moz-box-shadow: 0 0px 5px #bbb;
      -webkit-box-shadow: 0 0px 5px #bbb;
      box-shadow: 0 0px 5px #bbb;
*/    } 
    
    .dropdown-menu{
      -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
      border-width: 1px;
      top: 42px;      
      li{
        a{
          font-size: 12px;   
          
          .em{
            font-weight: bold;
            margin-right: 10px;
          }       
        }
      }
      
      li span.check {display:none;}
      li.active span.check { display:inline; margin-right:5px; }
      
      li.divider-title{
        font-size: 12px;
        padding: 0px 15px;
        color: #404040;
        font-weight: bold;
      }
      
      li.arrow{
        padding: 0;
        width: 21px;
        height: 11px;
        background: transparent url(../images/white.drop.arrow.png) no-repeat center center;              
        position: absolute;
        top: -11px;
        left: 15px;
      }
    }   
  }  
}

.description .title {color: gray; font-size: 13px;}
.description .span-below {padding-bottom: 20px;}
.description .span9 {min-height: 100px;}


.btn.close {
  color:@white;
  .gradientBar(@blue, @blueDark);
  opacity:1;
  margin-bottom: 15px;
}

.error {
 //margin-top: 60px;
 border: 1px solid red;
}

.error-header {
  font-weight: normal;
  color: #3977B0;
}

.error-text, .error-subhead {
  color: @gray;
}

.error-text {
  line-height: 5;
}

.error-image, .error-image-top {
  width: 350px;
  float: right;
  margin-top: -70px;
}

.error-image-top {
  margin-top: -95px;
}

.ui-slider-horizontal .ui-state-default {
  background: transparent url(/images/sliderhandle.png) no-repeat scroll 45% 49%;
  border: none;
  top: -5px;
}

.ui-widget-header, .ui-slider-horizontal {
  background: url(/images/sliderbase.png) no-repeat 50% 50%;
  border: #9999cc 1px solid;
}

.ui-slider-horizontal {
  height: 0.5em;
  top: 5px;
}

#cancellation_policy_text {
  width: 700px; 
  height: 500px; 
  overflow-y: scroll; 
  overflow-x: hidden;
}

#inquire_place  {
  width: 650px; 
/*  height: 372px; */
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-left: -300px;
  top:40%;
  
  .modal-footer {
    background-color: white;
    height:25px;
    border:none;
    margin-top: 20px;
  }
  .modal-header {
    background-color: #337;
    h3 {
      color: #eee;
    }
  }
  
  .modal-body {
    label {
      text-align: right;
      margin-right: 15px;
      font-size: 12px;
      color: #333;
    }
    input, textarea, select {
      font-size: 14px;
    }
  }
  
  .optional-section {
    background-color: #eef;
    h5 {
      line-height: 20px;
      img:first-child {
        float:left;
        margin-top: 8px;
        margin-right: 10px;
      }
      img:last-child {
        float:right;
        margin-top:8px;
      }


    }
  }
  .optional-body {
    background-color: #f7f7f7;
  }
}

.user_properties {
  width: 85%;
}

.cities_suggest_form {
  margin-bottom: 0;
}

#estimated_amount_weekly, #estimated_amount_monthly {font-size: 12px;}

form#wizard_form label.no_minimum_stay,
form#wizard_form label.no_maximum_stay { float:none; }

.search-bar1 input#check_in,
.search-bar1 input#check_out {width:84px;}
.search-bar1 h2 {line-height:0;padding-top:13px;}
.search-bar2 .buttons,
.search-bar2 .results,
.search-bar2 .sorting {float:left;width:33%;}
.search-bar2 .toggle {width:80px;}
.search-bar2 .toggle a {float:left;}

.search-bar2 .buttons {}
.search-bar2 .results {text-align:center;padding-top:6px;}
.search-bar2 .sorting {text-align:right;}

div.start div.hub form input#check_in.textbox,
div.start div.hub form input#check_out.textbox {width:118px;}


/* Home */
.why form, .how form {
  margin: 0;
}

.how .well, .why .well {
  padding-top: 5px;
}
.why .get-started {
  text-align:center;
  margin-bottom: 40px;
}

.tease-blurb .row {
  padding: 0;
  margin-left: 0px;
  text-align: center;
  
  img {
    margin: 0 4px;
  }
}

.trust .row {
  text-align: center;
  
  img {
    display: inline;
    margin: 20px 20px 0;
  }
}

.singapore-first img {
  width: 900px;
}