// HELPERS
// -----------

.textCenter() {
  text-align: center;
}

.textRight() {
  text-align: right;
}

.floatRight() {
  float: right;
}

.edgeLeft() {
  margin-left: 0;
}

.imageBorder() {
  border: 1px solid #ddd;
  padding: 2px;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0,0,0,.075));
}

.reset-width {
  width: auto;
}

.reset-float {
  float: none;
}

.align-images img {
  vertical-align: middle;
}

.align-right {
  text-align: right;
}

.float-right {
  .floatRight();
}

section {
  margin-bottom: @baseline;
}

.span-one-third     { width: 33%; }
.span-two-thirds    { width: 66%; }
.offset-one-third   { margin-left: 33%; }
.offset-two-thirds  { margin-left: 66%; }

aside .row, aside .media-grid, .aside .row, .aside .media-grid {
  .clearfix();
  margin-left: 0
}

// Sup
// ---------
.sup{
  color: @grayLight;
  font-size: @smallfont;
}

a.sup {
  color: @linkColor;
  font-size: @smallfont;
}

// Layout

body {
  padding: 5px 0 10px;
}

.container > footer p {
  text-align: center; 
}

.header .pull-right {
  float: right;
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px 0;
}

/* Give a quick and non-cross-browser friendly divider */
.content aside, .content .aside {
  margin-left: 5px;
  padding-left: 14px;
  border-left: 1px solid #eee;
}

// Header
// ---------

.header {
  .user_box {
    
    .user_name {
      font-weight: bold;
      font-size: 1.2em;
      color: @grayDark;
      .textRight;
      .floatRight;
    }

    .small, .small a {
      font-weight: normal;
      font-size: 0.9em;
      color: @grayLight;
    }

  }
}

// Announce
// ----------

.announce {
  margin: 0 0 @baseline;
  padding: 10px 14px;
  line-height: 2em;
  #gradient > .vertical(#ffffff, #f5f5f5);
  border: 1px solid #ddd;
  .textCenter();
  .border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  li {
    display: inline;
    text-shadow: 0 1px 0 @white;
  }
  .divider {
    padding: 0 5px;
    color: @grayLight;
  }
  a {
  }
  .active a {
    color: @grayDark;
  }

  h2 {
    font-size: 16px;
    line-height: 1em;
  }
}

// Label (overrides)
// ---------

.label {
  font-size: 10px;
  padding: 2px 5px;
  font-weight: normal;
  &.new { background-color:  darken(@blue, 25%) }
  &.like_new   { background-color: @blue }
  &.nearby     { background-color: @green; }
  &.notice     { background-color: darken(@blue, 25%); }
}

// Item
// ----------

.item-detail {

  .row {

  }
  .span2 {
    // .edgeLeft();
  }

  .image {
    border:1px solid @grayLight;
    padding: 10px;
  }

  h1 {
    font-size: 26px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  .labels {
   margin-bottom: @baseline;
  }

  .description {
  }

  .environmental {
  }

  .location {

  }

 

}

.pal {
  .avatar {
    .textCenter();
  }

  .name {
    .textCenter();
  }
}


.environmental {    
  .gray {
    color: @grayLight;
    margin-right: 5px;
  }
  .val {
    font-size: 1.2em;
    font-weight: bold;
  }
  img {
    vertical-align: bottom;
  }
}


.prices {
  .price {
    .textRight();
     margin-bottom: @baseline; 
    .type {
      color: @grayLight;
      font-size: 11px;
      font-style: italic;
      font-weight: normal;
    }
    .amount {
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;

    }
  }
}

.item-comments {
  .comment {
    .clearfix();
    width: 80%;
    margin-bottom: @baseline;
    // FOR ITEM 
    .item {
      background: lighten(@blue, 28%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      } 
    }
    .body {
      border: 2px dashed @blue;
      .border-radius(6px);
      padding: 15px 10px;
      margin-bottom: 5px;
    }
    .created_at {
      float: right;
      color: @gray;
      font-size: @smallfont;
    }
    .commenter {
      float: left;
      .user_box {
        .user_photo {
          margin-top: 5px;
          float: left;
          vertical-align: bottom;
        }
        .user_data {
          margin-left: 5px;
          float: left;
          .user_rank img {
            vertical-align: bottom;
            margin-right: 2px;
          }
        }
      }
    }
  }

  .comment.right {
    margin-left: 20%;

    .created_at {
      float: left;
    }
    .body {
      border-color: lighten(@red, 20%);
    }
    .item {
      background: lighten(@red, 59%);
      h3 {
        line-height: 1em;
        margin-bottom: 5px;
      } 
    }
    .commenter {
      float: right;

      .user_box {
        text-align: right;
        .user_photo {
          float: right;
          margin-right: 5px;
        }
        .user_data {
          margin-right: 5px;
          float: right;
        }
      }
    }
  }
} 

// Item
// -----------

.items {
  .item {
    h4 {
      line-height: 1em;
    }
    padding: 10px 0;
    border-bottom: @grayLighter 1px solid;
  }
}

// Header
// -----------

aside .section-header, .aside .section-header, .section-header {
  margin: 0 0 @baseline;
  padding: 10px 14px;
  line-height: 1em;
  color: #747474;
  //#gradient > .vertical(#ffffff, #f5f5f5);
  //border: 1px solid #ddd;

  //.border-radius(3px);
  .box-shadow(inset 0 1px 0 @white);
  font-size: 16px;

  //#gradient > .vertical(#F0F0F0, #F5F5F5);
  background: #F4F4F4;
}

// Media Grid
// -----------

.media-grid {
  margin-left: -20px;
  margin-bottom: 0;
  .clearfix();
  li {
    display: inline;
  }
  a {
    float: left;

    margin: 0 5px 5px 0;
    .imageBorder();
    img {
      display: block;
    }
    &:hover {
      border-color: @linkColor;
      .box-shadow(0 1px 4px rgba(0,105,214,.25));
    }
  }
}
