<h2><%= t("mailers.salutation", :name => @user.first_name)%></h2>
<p><%= t('mailers.welcome_instructions.title') %></p>

<p><%= t('mailers.welcome_instructions.first_line') %></p> 
<br/>
<% link = link_to t("mailers.here"), root_url %>
<p><%= t('mailers.welcome_instructions.content', :link => link).html_safe %></p>
