.span15
  %span.float-left
    = placehold(50,50)
  .span12
    .alert-message{:class => m}
      Sold to JSnyder
      %span.float-right
        JGreen
      %br
      %span.created_at
        2 hours ago
