/ TODO: unused, delete? 
.span8
  .user_photo.float-right
    - unless @user.avatar_url.nil?
      %img{:src => @user.avatar_url, :style => "width:30px; height:30px;"}
    - else
      = placehold(30,30)
  .user_data.float-right
    .user_name
      = full_name @user
      .user_rank
      = placehold(15,15)
      38
      = placehold(15,15)
      13
