.span8
  - unless controller.action_name == "show"
    .section-header 
      Jonathan's Badges
      %span.float-right.small
        = link_to "see all", "#"
  - else
    .borderTop
      %h2
        Your Badges
  - (0..11).each do |m|
    %span.user_badge
      = placehold(100,100)