= render :partial => "left_column"
= render :partial => "info"
%section.span8
  %h4.section-header Password
  %section
    .p.center
      Current
    .p.center
      New
    .p.center
      Re-Type New

%section.span8
  .h4.section-header Accounts
  %section