- unless coded_errors_for(@user).blank?
  %div{:class => 'alert alert-error'}
    = coded_errors_for @user
.registration.row-fluid
  %br
  = render :partial => 'form'
  = render :partial => 'connect_with'
