.registration
  %br
  .section.span6
    %h2= t(:reset_password)

    = form_tag '/users/reset_password' do 
      .input
        = text_field_tag 'email', '',  :placeholder => t(:enter_your_email)
      %button.btn.float-right{:type => 'submit'}
        = t(:submit)

  %br.clearfix
  %br
