- if Rails.env.production? && @city_id==1
  #SGHotels_Ad{:style => "margin-left:1px; margin-top: 30px"}
    = link_to image_tag("SingaporeHotels.jpg"), "http://www.singaporehotels.com/#?utm_source=squarestays&utm_medium=promo&utm_campaign=singapore-hotels", {:rel => "nofollow"}

- if Rails.env.production?
  #ASM_Ad{:style => "margin-left:27px; margin-top: 20px"}
    / ASM Ad-tag STARTS
    #cX-root{:style => "display:none"}
    #insertAdSpaceBeforeThis_0000000000eabf68{:style => "display:none"}
    :javascript
      (function() { try { var scriptEl = document.createElement('script'); scriptEl.type = 'text/javascript'; scriptEl.async = 'async'; scriptEl.src = ('https:' == document.location.protocol) ? 'https://scdn.cxense.com/cx.js' : 'http://cdn.cxense.com/cx.js'; var targetEl = document.getElementsByTagName('script')[0]; targetEl.parentNode.insertBefore(scriptEl, targetEl); } catch (e) {}; }()); </script> <script type="text/javascript"> var cX = cX || {}; cX.callQueue = cX.callQueue || []; cX.callQueue.push(['insertAdSpace', { adSpaceId:'0000000000eabf68', adUnitWidth:160, adUnitHeight:600, initialHorizontalAdUnits:1, initialVerticalAdUnits:1, clickTargetFrame: '_blank' } ]);
    / ASM Ad-tag ENDS