.created_at
  25 March 2011, 12:40
.commenter
  .user_box
    .user_photo= placehold(40,40)
    .user_data
      .user_name= link_to "Jonathan Green", "#"
      .user_rank
        = placehold(24,24)
        71
        = placehold(24,24)
        13