#photo_faq.info
  .intro.span16
    %h3 Photography FAQ
    %p SquareStays helps connect people offering high-quality, flexible accommodations with professional tenants. This happens through the SquareStays site, helping you, as the lister, avoid costly screening of potential tenants. In order to do this, your listings should have the highest quality and most attractive photos possible. This guide is designed to help you provide the best photos you can for your listings on SquareStays.
    %p Some tips on how to get great photographs on SquareStays:
  .span16
    .well.expandable
      %h4 1. Brighten it up
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc2living3.jpg"}
        %p Photograph with natural daylight flooding into the room from the windows, and turn on the lights. This will give your space a friendly and bright atmosphere and help define the depth. That helps tenants understand the size of the space.
        %p If you have a professional or semi-professional camera, or a camera that allows manual control of the shutter speed, don't be afraid to experiment with overexposing by a stop or so to get a brighter shot. This holds especially true if you're photographing against windows during the day! To compensate for that bright daylight, your camera will try to adjust by dialing down the exposure times. This will result in dark and murky interiors. You will *have* to increase exposure times a bit, to get a friendly and bright interior shot. Don't worry if this results in blown out windows, the interior is what counts in this shot.
        %p If your space is too dark for well exposed handheld shots, get a tripod and mount your camera on it. With a tripod, you can dial the exposure times way up without getting blurry results.

    .well.expandable
      %h4 2. Go wide
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc3living2.jpg"}
        %p Use the widest angle lens you have and/or zoom out all the way with your zoom. Full frame sensor SLR cameras are the best cameras for shooting interiors, because of their ability to capture wide angles and their strength in picking up light.
        Wider angles make the interior look more spacious and give potential tenants a better idea of a room's layout.
        %p This does not mean that you shouldn't take shots of some beautiful details. Find a balance between wide "establishing" shots, and a few "close-ups" of the details that define your space.
        Carefully mixing shots will tell potential tenants a story about the space, and they will be more interested in renting it.

    .well.expandable
      %h4 3. Shoot from a Corner
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tcwindows.jpg", :style => 'display:none'}
        %p When shooting interior spaces, try to find a corner from which you can see the entire room. Shoot towards the opposite corner. This makes it easier to capture a bigger space, and makes for a more dynamic composition.

    .well.expandable
      %h4 4. Clean it up, liven it up
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tc2living6.jpg", :style => 'display:none'}
        %p Before Taking any Photos, make sure your space isn't cluttered or messy.
        %p Conversely, if the space is not occupied at the time of your shooting, consider placing some props like bottles or flowers to give it a welcoming, lived-in appearance. Avoid props that are associated with clutter or stress, such as clothes, remotes or loose paper.
  
    .well.expandable
      %h4 5. Show the exterior
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %img{:src => "http://s3.amazonaws.com/squarestays-static/photos/tcentrance.jpg"}
        %p Guests will want to know what the property looks like from the outside. You should try and include some amenities on the exterior shots, such as the swimming pool, BBQ pits or garden area.
        
    .well.expandable
      %h4 6. Don't frame your shots digitally
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %p SquareStays will automatically frame your photo where necessary. There's no need for any manual framing, on the contrary, the additional frame may result in inconsistant results
      
    .well.expandable
      %h4 7. Don't add captions to your photos
      %a{:href => '#', :class => 'read-more'} read more...
      .inner
        %p SquareStays allows you to add captions to your Photos with a single click in our Property Manager.

    .well
      %h4 Don't be stingy! We've got space for your space
      .inner
        %p SquareStays property listings are designed to accomodate lots of photos. A Listing with a dozen Photos of rooms, exteriors and amenities will quickly seem familiar to your potential guests, whereas a listing with just 3 or 4 shots may seem vague and undefined, making the decision to rent that much harder!

:javascript
  Expandable.initialize("#photo_faq");