#work_profile-tab.tab-pane
  .row
    .span3.profile_pic
      = image_tag primary_photo(@resource), :width => '200'

    .span8
      .row-fluid
        .span12
          %h2= t("services.name_work_profile", :name => "Sam W.")
      .row-fluid
        - AmenityGroup.all.each do |ag|
          .span4
            %h3= ag.name
            - ag.amenities.each do |a|
              .row-fluid
                - checked = @resource.amenities.include?(a)
                .w-left-icon{:class => checked ? 'check' : 'ekis'}= a.name