- if inquiry['state']  == 'bigbang'
  %p= t(:awaiting_request_agent)
- elsif inquiry['state']  == 'requested'
  = link_to t(:preapprove_rental), preapprove_rental_transaction_path(inquiry['id']), {:method => :post, :remote => true, :id => "preapprove_rental", :class => "btn btn-primary btn-large respond-btn" }
- else
  %p= t(:awaiting_payment_guest)