- if inquiry['state']  == 'initial'
  %p= t(:awaiting_request_agent)

- elsif inquiry['state']  == 'requested'
  = link_to transaction_path(inquiry['id'], :event => :pre_approve), {:method => :put, :remote => true, :class => "btn btn-huge" } do
    %span= t(:preapprove_rental)

- else
  %p= t(:awaiting_payment_guest)