- panorama = @product.panoramas.first
#panoramas-tab.tab-pane
  .viewport
    %ul.overview
      %li
        .big#photo_container
          .photo
            = content_tag(:iframe, :width => 600, :height => 400, 'frameBorder' => 0,  :scrolling => "no", :src => panorama.html.url) do
              - #empty