- if @photos && @photos.any?
  - @photos.each do |photo|
    %li 
      .photo_action
        = link_to "[x]", "javascript:void(0);", :onclick => "return deletePhoto($(this));"      
      = render_photo(photo)
