.panel-wrapper
  %h2.title Preview
  .row
    .span2x
      .image
        %img{:src => "http://placehold.it/100x100"}/
      %br
      %img{:src => "http://placehold.it/24x24"}/
      %img{:src => "http://placehold.it/24x24"}/        
    .span8
      %h1= @place.title
      .labels
        %span.label.new like new
        %span.label.nearby nearby
      .environmental
        %span.gray


      %br.clearfix/
      %p.description
        = @place.description
      %p.small.sup
        added on 24 March 2011

