- if places.blank?
  .alert-message.info= t(:no_result)
- else
  %ul.list-display
    = render 'results_list_view', :places => places

  .row.show-grid.hide
    = render 'results_grid_view', :places => places
