.alert-message.info.hide No Results Found.
- unless @results.nil?
  %ul.list-display
    = render 'results_list_view', :places => places

  .row.show-grid.hide
    = render 'results_grid_view', :places => places
