#coda-nav-1.coda-nav
  %ul
    %li.tab1
      %a{:href => "#1"}
        %span
        General Info

    %li.tab2
      %a{:href => "#2"}
        %span
        Photos

    %li.tab3
      %a{:href => "#3"}
        %span
        Amenities

    %li.tab4
      %a{:href => "#4"}
        %span
        Calendar

    %li.tab5
      %a{:href => "#5"}
        %span
        Price and Conditions

.clearfix
  %a.btn.primary.large.preview-button{:href => preview_place_path(@place)}
    %span
      Preview
