.wizard-aside
  %ul#wizard-selector
    %li
      %a{:href => "#1"}
        General Info
    %li
      %a{:href => "#2"}
        Photos
    %li
      %a{:href => "#3"}
        Amenities
    %li
      %a{:href => "#4"}
        Calendar
    %li
      %a{:href => "#5"}
        Price and Conditions

  .clearfix
  %a.btn.primary.large.preview-button{:href => preview_place_path(@place)}
    %span
      Preview
