.panel-wrapper
  %h2.title Photos
  .clearfix
  %img#thumb
  = file_field_tag 'imageUpload'
  %button.btn{:type => "submit"} Upload 

  .clearfix

  %h3 Photos
  %p
    You can sort your photos by drag and drop
  .row
    .span12
      %ul.media-grid.gallery
        - 10.times do
          %li
            %a{:href => "#"}
              %img.thumbnail{:alt => "", :src => "http://placehold.it/90x90"}/

.arrows.clearfix
  .coda-nav-left
    %a.btn.primary{:href => "#"} &laquo; Previous Step
  .coda-nav-right
    %a.btn.primary{:href => "#"} Next Step &raquo;

:javascript
  $(document).ready(function(){

    var thumb = $('img#thumb');	

    new AjaxUpload('imageUpload', {
      action: $('form#wizard_form').attr('action'),
      name: 'image',
      onSubmit: function(file, extension) {
        $('div.preview').addClass('loading');
      },
      onComplete: function(file, response) {
        thumb.load(function(){
          $('div.preview').removeClass('loading');
          thumb.unbind();
        });
        thumb.attr('src', response);
      }
    });
  });
