$('#inquire_place').modal('hide');
$('.alert-message').remove();
<% if @response == "success" %>
$('.place_info').before('<div class="alert-message success" data-alert="alert"><a href="#" class="close">×</a><p><%= t(:inquiry_success) %></p></div>');
<% else %>
$('.place_info').before('<div class="alert-message error" data-alert="alert"><a href="#" class="close">×</a><p><%= t(:inquiry_error) %></p></div>');
<% end %>