$('.alert-message').remove();
$('#inquire_place').modal('hide');
<% if @success %>
  $('#inquire_place').addClass('sent');
  <%= open_modal :inquiry_sent, 'inquiries/sent' %>
<% else %>
  $("#inquire_button").button('reset');
  $('.place_info').before('<div class="alert alert-error" data-alert="alert"><a href="#" class="close" data-dismiss="alert">×</a><%= t(:inquiry_error) %></div>');
<% end %>