%h1 Add Item
.coda-slider-wrapper
  .span10
    #coda-slider-1.coda-slider.preload
      %form.form-stacked{:action => ""}
        .panel
          .panel-wrapper
            %h2.title Step 1
            %fieldset
              .clearfix
                %label{:for => "xlInput3"} What Item do you wish to add?
                .input
                  %input#xlInput3.span8{:name => "xlInput3", :placeholder => "Playstation 3 with lots of games", :type => "text"}/
              / /clearfix
              .clearfix
                .row
                  .span4
                    %h5 Pick the address
                    %ul
                      %li
                        %a{:href => "#"} Berlin
                      %li
                        %a{:href => "#"} Berling 2
                      %li
                        %a{:href => "#"} Singapore
                      %li
                        %a{:href => "#"} Stockholm
                  .span4
                    %h5 Or add a new one
                    .clearfix
                      .input
                        %input#xlInput3.xlarge{:name => "xlInput3", :placeholder => "Street Address", :size => "30", :type => "text"}/
                    .clearfix
                      .input
                        %input#xlInput3.xlarge{:name => "xlInput3", :placeholder => "City", :size => "30", :type => "text"}/
                    .clearfix
                      .input
                        %input#xlInput3.xlarge{:name => "xlInput3", :placeholder => "Country", :size => "30", :type => "text"}/
                    .clearfix
                      .input
                        %input#xlInput3.xlarge{:name => "xlInput3", :placeholder => "Zip/Postal Code", :size => "30", :type => "text"}/
                    .clearfix
                      %button.btn.primary{:type => "submit"} Use Address
        .panel
          .panel-wrapper
            %h2.title Step 2
            %fieldset
              %legend What do you want to do with the item?
              .row
                .span6
                  .clearfix
                    %label Give to
                    .input
                      %select
                        %option Friend
                        %option Friends of Friends
                        %option Everyone
                  / end .clearfix
                / end .span6
                .span6
                  .clearfix
                    %label Not selling to
                    .input
                      %select
                        %option Friend
                        %option Friends of Friends
                        %option Everyone
                  / end .clearfix
                / end .span6
              .row
                .span6
                  .clearfix
                    %label Lend to
                    .input
                      %select
                        %option Friend
                        %option Friends of Friends
                        %option Everyone
                  / end .clearfix
                / end .span6
                .span6
                  .clearfix
                    %label Not Renting to
                    .input
                      %select
                        %option Friend
                        %option Friends of Friends
                        %option Everyone
                  / end .clearfix
                / end .span6
              .clearfix
                %label Where should the item be listed
                .input
                  %select
                    %option City
                    %option Country
                    %option Worldwide
              / end .clearfix
            %fieldset
              .clearfix
                %label Will you ship the item to pals who can not come to pick it up?
                %br/
                %ul.inputs-list
                  %li
                    %label
                      %input{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}/
                      %span Option one is this and that—be sure to include why it’s great
                  %li
                    %label
                      %input{:name => "optionsRadios", :type => "radio", :value => "option2"}/
                      %span Option two can is something else and selecting it will deselect options 1
              / End clearfix
              .clearfix
                %label How much would shipping and packaging cost?
                %br/
                .input
                  .input-prepend
                    %span.add-on $
                    %input#prependedInput.medium{:name => "prependedInput", :placeholder => "National", :size => "16", :type => "text"}/
                %br/
                .input
                  .input-prepend
                    %span.add-on $
                    %input#prependedInput.medium{:name => "prependedInput", :placeholder => "International", :size => "16", :type => "text"}/
              / End clearfix
        .panel
          .panel-wrapper
            %h2.title Step 3
            .clearfix
              %label Select a category for your item
              .input
                .clearfix
                  %select#multiSelect1.span4{:multiple => "multiple", :name => "multiSelect"}
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
                  %select#multiSelect2.span4{:multiple => "multiple", :name => "multiSelect"}
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
            / end .clearfix
            .clearfix
              %label What is the condition is the item in?
              .input
                %select
                  %option New
                  %option Used
                  %option Pre-Owned
            / end .clearfix
            .clearfix
              %label Describe the Item
              .input
                %textarea#textarea2.xxlarge{:name => "textarea2", :rows => "3"}
            / end .clearfix
            .clearfix
              %label Enter some keywords to make your item easier to find (separated by commas)
              .input
                %input#xlInput3.xxlarge{:name => "xlInput3", :size => "30", :type => "text"}/
                %span.help-block Recommended Keywords: Sample Keyword, Sample Keyword 2
            / end .clearfix
        / end .panel
        .panel
          .panel-wrapper
            %h2.title Step 4
            .clearfix
              %label{:for => "fileInput"} Upload a Picture
              .input
                %ul.media-grid.gallery
                  %li
                    %a{:href => "#"}
                      %img.thumbnail{:alt => "", :src => "http://placehold.it/90x90"}/
                  %li
                    %input#fileInput.input-file{:name => "fileInput", :type => "file"}/
            .clearfix
              %label{:for => "fileInput"} Or choose one of these
              .input
                .row
                  .span16
                    %ul.media-grid.gallery
                      %li
                        %a{:href => "#"}
                          %img.thumbnail{:alt => "", :src => "http://placehold.it/90x90"}/
                      %li
                        %a{:href => "#"}
                          %img.thumbnail{:alt => "", :src => "http://placehold.it/90x90"}/
                      %li
                        %a{:href => "#"}
                          %img.thumbnail{:alt => "", :src => "http://placehold.it/90x90"}/
        .panel
          .panel-wrapper
            %h2.title Preview
            %section.item-detail.clearfix
            %h2 Item
            .row
              .span2x
                .image
                  %img{:src => "http://placehold.it/100x100"}/
              .span8
                %h1 Awesome Playstation 3 with Controllers and superawesome game collection
                .labels
                  %span.label.new like new
                  %span.label.nearby nearby
                .environmental
                  %span.gray
                    %span.translation_missing{:title => "translation missing: en.co2"} Co2
                  %span.val 43,32 kg
                  %img{:src => "http://placehold.it/24x24"}/
                  %img{:src => "http://placehold.it/24x24"}/
                %br.clearfix/
                %p.description
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                %p.small.sup
                  added on 24 March 2011
              .span2
                .prices
                  .price
                    .type
                      %span.translation_missing{:title => "translation missing: en.selling_it_for"} Selling It For
                    .amount
                      $ 249
                  .price
                    .type
                      %span.translation_missing{:title => "translation missing: en.renting_it_for"} Renting It For
                    .amount
                      $ 11.49
    / end #coda-slider-5
    .arrows.clearfix
      #coda-nav-left-1.coda-nav-left
        %a{:href => "#"} « Previous Step
      #coda-nav-right-1.coda-nav-right
        %a{:href => "#"} Next Step »
  / .coda-slider-wrapper
  .span4
    #coda-nav-1.coda-nav
      %ul
        %li.tab1
          %a{:href => "#1"}
            List your Place
            %span
        %li.tab2
          %a{:href => "#2"}
            General Info
            %span
        %li.tab3
          %a{:href => "#3"}
            Amenities
            %span
        %li.tab4
          %a{:href => "#4"}
            Calendar
            %span
        %li.tab5
          %a{:href => "#5"}
            Price and Conditions
            %span  
