= error_messages_for :place
.row
  .span12
    = form_for :place, :url => places_path, :class => 'form-stacked', :html => {:id => 'wizard_form'} do |f|
      .panel
        = render 'step_1', :f => f

:javascript

    $(document).ready(function() {

      $('#wizard_form').validationEngine();
      $("#wizard_form").submit(function(e) {
        var isChecked = $('#place_terms').is(':checked');
        if(!isChecked) {
          alert("Please check 'I accept the terms and conditions' to continue");
          e.preventDefault();
         }
        });


      // Character count
      $('#place_title').charCounter(40, {container: "<em></em>",classname: "counter", format: "(%1)"});

    });
