!!!
%html{:lang => "en"}
  %head
    = render 'shared/meta'

  %body
    = render 'shared/header'
    .container
      = flash_messages      
      .content
        = yield

      %footer
      %p &copy; Heypal.com 2011
